.Feed {
  text-align: center;
  font-family: "Stopbuck";
  /* background-image: url('./img/blankmap.png'); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.feedelement {
  border: solid;
  border-width: 3px;
  border-radius: 8px;
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: black(0, 255, 238);
  font-family: 'Courier New', Courier, monospace;

}

.info {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  justify-content: center;

}

.message {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.userImage {
  width: 50%;
}

.username {
  width: 50%;
  overflow: hidden;
}

li {
  list-style-type: none;
  padding-bottom: 20px;
}

.postimage {
  width: 100px;
  height: 100px;
  image-rendering: pixelated;
}

.userImage {
  image-rendering: pixelated;
  width: 50px;
  height: 50px;
}




